body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  background: #272727;
}

h2 {
  text-align: center;
}

.cv-item {
  border-radius: 5px;
  margin: 1em;
  background: rgba(255, 255, 255, 0.712);
  padding: 1em;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.233);
}
.cv-item h3 {
  text-indent: 1%;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.493);
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cv-item h3:first-letter {
  font-weight: 900;
  text-decoration: underline;
}
.cv-item h6 {
  font-weight: 700;
  padding: 5px;
}
.cv-item li {
  list-style: none;
}
.cv-item li span {
  color: black;
  font-size: 16px;
  padding: 3px;
  border-radius: 5px;
}
.cv-item li div {
  font-size: 14px;
  margin: 15px;
}
.cv-item li div p {
  margin: 0;
}
.cv-item li div p:last-child {
  font-size: 12px;
}
.cv-item .cv-item-inner {
  padding: 1em;
}

#header {
  padding-top: 5%;
  background: linear-gradient(rgba(255, 255, 255, 0.274), rgba(255, 255, 255, 0));
}
#header h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.212);
  margin-top: 1%;
  letter-spacing: 1.5px;
}
#header i {
  margin-right: 3px;
  color: rgba(107, 107, 107, 0.507);
}
#header a {
  color: #bdbdbd;
  text-decoration: none;
  cursor: pointer;
}
#header a:hover {
  color: white;
}
#header .profil-card {
  color: rgba(158, 158, 158, 0.623);
  text-shadow: 0px 6px 1px rgba(0, 0, 0, 0.103);
  text-align: center;
  line-height: 1.5;
}
#header .profil-card .socials {
  cursor: pointer;
  background: radial-gradient(circle, white 60%, rgba(5, 5, 5, 0) 65%);
  height: 37px;
}
#header .profil-card .socials:hover {
  filter: brightness(7);
}
#header .profil-card #profil-pic {
  width: 160px;
  border-radius: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.294);
  border: 2.5px solid white;
  background-color: black;
}

#download-pdf {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 3%;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.144);
  border: none;
  margin: 0;
  padding: 5px;
}
#download-pdf:hover {
  color: white;
  background: rgba(255, 255, 255, 0.486);
}

.carousel-inner {
  max-height: 400px;
}
.carousel-inner .more {
  opacity: 0;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  text-align: center;
  z-index: 10;
}
.carousel-inner img, .carousel-inner video {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  transition: 0.2s -webkit-filter linear;
  cursor: pointer;
}
.carousel-inner img:hover, .carousel-inner video:hover {
  filter: blur(5px);
}

.carousel-caption {
  min-height: 35%;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: #0c0c0c6c;
  transition-duration: 0.5s;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.carousel-caption:hover {
  background-color: #0c0c0c;
}
.carousel-caption h5 {
  font-weight: 900;
  border-bottom: 1px solid white;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 10;
  top: 88%;
  margin: 1%;
  width: auto;
}

.accordion-body .progress {
  margin-bottom: 3.3em;
}
.accordion-body .comp-logos {
  padding: 0.3em;
  border-radius: 5em;
  position: absolute;
}
.accordion-body img {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.411));
  width: auto;
  height: 40px;
  transition-duration: 0.3s;
  margin: 1px;
}

/*# sourceMappingURL=theme.css.map */
